AnchorPane {
	-fx-background-color: #fcfaf7;
}

#backButton {
	-fx-text-fill: #bd2222;
	-fx-background-color: #fcfaf7;
	-fx-border-style: solid;
	-fx-border-color: #bd2222;
	-fx-border-radius: 3px;
	
}

TextArea {
	-fx-border-radius: 3px;
	-fx-border-style: none;
	-fx-text-fill: #21262c;
	-fx-wrap-text: true;
}

ImageView {
	-fx-background-radius: 50%;
}
Label {
	-fx-font-size: 32px;
	-fx-text-alignment: center;
	-fx-text-fill: #bd2222;
}