AnchorPane {
	-fx-background-color: linear-gradient(to bottom, #ffa500 0%, #ff0000 100%);
}

#picPane {
	-fx-background-color: rgba(252, 250, 247, 0.9);
}

Pane {
	-fx-background-color: rgba(252, 250, 247, 0.6);
}

#animalNameLabel {
	-fx-text-fill: #bd2222;
	-fx-font-size: 32px;
}

Button {
	-fx-text-fill: #bd2222;
	-fx-background-color: none;
	-fx-border-style: solid;
	-fx-border-color: #bd2222;
	-fx-border-radius: 3px;
	
}

Label {
	-fx-text-fill: #21262c;
	-fx-wrap-text: true;
	-fx-padding: 8px;
	-fx-text-alignment: center;
}

GridPane {
	-fx-font-size: 18px;
	-fx-wrap-text: true;
	-fx-display: flex;
	-fx-align-items: center;
}