AnchorPane {
	-fx-background-color: linear-gradient(to bottom, #ffa500 0%, #ff0000 100%);
}

Pane {
	-fx-background-color: rgba(252, 250, 247, 0.6);
}

Button {
	-fx-text-fill: #bd2222;
	-fx-background-color: none;
	-fx-border-style: solid;
	-fx-border-color: #bd2222;
	-fx-border-radius: 3px;
	-fx-font-size: 14px;
}

Label {
	-fx-text-fill: #21262c;
	-fx-wrap-text: true;
	-fx-text-alignment: center;
	-fx-font-size: 25px;
}